h1, h2, h3, h4, p{

	font-family: 'Russo One', sans-serif;
}


#warning{

	font-family: 'Permanent Marker', cursive;
	color: red;
	text-decoration: underline;

}

body{

	background-image:
}

.rasta{


	(src= )
}