h1, h2, h3, h4, p{

	font-family: 'Russo One', sans-serif;
}


#warning{

	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-weight: bold;

}



body{


	background-image: url(https://github.com/mijofields/Hangman-Game/blob/master/assets/images/8foTnpS.png?raw=true);
}